* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    padding-top: 116px;
    color: #333;
}
.container {
    width: 1090px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
ul > li {
    list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
input:focus {
    outline: none;
}
input[type="button"] {
    cursor: pointer;
}
.shoppingTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}
/* 顶部导航 */
.nav {
    background-color: #333;
    height: 36px;
}
.navbar {
    display: block;
    float: right;
    height: 36px;
}
.navbar ul {
    height: 36px;
    margin: 0;
    padding-top: 11px;
}
.navbar ul li {
    color: #fff;
    float: left;
    line-height: 14px;
    font-size: 12px;
    position: relative;
}
.navbar ul li:first-child img {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: -2px;
}
.navbar ul li:last-child {
    padding-left: 25px;
}
.navbar ul li:not(:last-child) {
    border-right: solid 1px #fff;
    padding: 0 25px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
}
.navbar ul li:last-child a i {
    background: url("../img/icon-app.png");
    display: inline-block;
    width: 7px;
    height: 12px;
    vertical-align: -2px;
}
.QrCode {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 0;
    display: none;
}
.APPDown:hover > .QrCode {
    display: block;
}

/* 头部 */
.header {
    background-color: #fff;
    height: 80px;
    padding-top: 20px;
    box-shadow:0px 0px 10px rgba(140,140,140,0.3);
}
.header-left {
    background: url(../img/logo.png);
    display: inline-block;
    height: 37px;
    width: 285px;
}
.header-right {
    float: right;
    height: 100%;
}
.header-search {
    display: inline-block;
    position: relative;
}
.header-search > i {
    background: url("../img/icon-search.png");
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 14px;
}
.header-search > input {
    width:279px;
    height:40px;
    background:rgba(239,239,239,0.5);
    font-size: 14px;
    border-radius:20px;
    padding-left: 43px;
    border: none;
    outline: none;
}
.header-right > a {
    display: inline-block;
    width:40px;
    height:40px;
    background: url("../img/icon-shoppingCart.png");
    vertical-align: -15px;
}
/* 底部 */
.footer {
    background-color: #333;
    height: 204px;
}
/* 面包屑导航 */
.breadcrumbBox {
    padding-top: 15px;
    padding-bottom: 15px;
}
.breadcrumb {
    margin: 0;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 12px;
}
.breadcrumb > li > a {
    color: #999;
    text-decoration: none;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    content: ">";
    vertical-align: 2px;
    margin-right: 3px;
}

/*分页*/
.paginationBox {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 商品数量加减 */
.goodsNumOperation {
    display: inline-block;
    height: 32px;
}
.goodsNumOperation > span {
    border: solid 1px #DDD;
    color: #DDD;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 28px;
    height: 32px;
    width: 32px;
    float: left;
    margin-left: -1px;
}
.goodsNumOperation > input {
    border: solid 1px #DDD;
    color: #DDD;
    height: 32px;
    width: 50px;
    float: left;
    padding-left: 5px;
    margin-left: -1px;
}
.goodsNumOperation> input:focus {
    outline: none;
}

/* 多选框 */
.orderTable-checkbox {
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #ccc;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 10px;
    position: relative;
}
.orderTable-checkbox > i {
    background: url("../img/icon-checkBox-selected.png");
    height: 12px;
    width: 12px;
    position: absolute;
    display: none;
}
.orderTable-checkbox > input {
    display: none;
}
/* 订单列表table */
.orderTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}
/* table头 */
.orderTable thead {
    background-color: #F5F5F5;
    border: solid 1px #E8E8E8;
    font-size: 12px;
    text-align: left;
}
.orderTable thead tr {
    height: 44px;
}
.orderTable thead tr th span:first-child {
    margin-left: 10px;
    margin-right: 70px;
}
.orderTable2 thead tr th {
    font-weight: normal;
}
.orderTable2 thead tr th:not(:first-child) {
    text-align: center;
}
.orderTable2 thead tr th span {
    float: left;
    line-height: 14px;
}
.orderTable2 thead tr th:first-child span:first-child {
    margin-right: 10px;
}
.orderTable2 thead tr th:first-child span:nth-child(2) {
    margin-right: 150px;
}
/* table主体 */
.orderTable tbody tr {
    height: 142px;
}
.orderTable tbody tr td {
    border: solid 1px #E8E8E8;
}
.orderTable-td1 {
    font-size: 14px;
    padding-left: 10px;
}
/* .orderTable-td1 > input {
    display: none;
} */
.orderTable-td1 > .orderTable-checkbox {
    float: left;
    margin-top: 45px;
}
.orderTable-td1 > img {
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.orderTable-td1 > span.goodName {
    width: 255px;
    white-space: normal;
    word-break: break-all;
    float: left;
    margin-top: 40px;
}
.orderTable-td1 > span.num {
    float: right;
    margin-right: 37px;
    margin-top: 40px;
}
.orderTable-td2 {
    font-size: 14px;
    width: 328px;
    text-align: center;
}
.orderTable-td2 > p {
    display: inline-block;
    width: 223px;
    line-height: 26px;
    text-align: left;
}
.orderTable-td3 {
    font-size: 16px;
    width: 141px;
    text-align: center;
}
.orderTable-td4 {
    font-size: 12px;
    width: 141px;
    text-align: center;
}
.orderTable-td4 > input {
    background-color: #F077AD;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 8px 20px;
}
.orderTable-td4 > span {
    font-size: 12px;
}
.orderTable-td4 > span.shipped {
    color: #F077AD;
}

/* 底部结算条 */
.orderList-footer-bar {
    background-color: #E5E5E5;
    font-size: 12px;
    height: 44px;
    padding-left: 10px;
    margin-bottom: 100px;
}
.orderList-footer-bar > .orderTable-checkbox {
    margin-top: 15px;
}
.orderList-footer-bar > .select {
    margin-right: 25px;
    vertical-align: 2px;
}
.orderList-footer-bar > a.del {
    color: #333;
    vertical-align: 2px;
    text-decoration: none;
}
.orderList-footer-bar > a.del:focus,
.orderList-footer-bar > a.del:visited, {
    color: #333;
}
.orderList-footer-bar > div {
    float: right;
    height: 100%;
}
.orderList-footer-bar > div > span {
    float: left;
    margin-right: 54px;
    margin-top: 10px;
}
.orderList-footer-bar > div > span > span {
    color: #FF4400;
    font-size: 18px;
    vertical-align: -2px;
}
.orderList-footer-bar > div > input {
    background-color: #F077AD;
    border: none;
    color: #fff;
    font-size: 18px;
    height: 100%;
    width: 80px;
}

/* 模态框 */
.shoppingModel {
    background:rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.shoppingModel-body {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.shoppingModel .icon-close {
    background: url("../img/icon-close.png");
    cursor: pointer;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 42px;
    right: 30px;
}

.loginBox {
    width: 386px;
    height: 316px;
    padding-top: 40px;
}
.loginBox > p.title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}
.loginBox > div {
    border: solid 1px #E8E8E8;
    width: 302px;
    height: 38px;
    margin: 0 auto;
}
.loginBox > div.userBox {
    margin-bottom: 15px;
}
.loginBox > div i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px 9px;
}
.icon-user {
    background: url("../img/icon-user.png");
}
.icon-pwd {
    background: url("../img/icon-pwd.png");
}
.loginBox > div > input {
    border: none;
    border-left: solid 1px #E8E8E8;
    font-size: 12px;
    width: 260px;
    height: 24px;
    padding-left: 10px;
    float: right;
    margin-top: 7px;
}
.loginBox > .error {
    color: red;
    font-size: 12px;
    margin-left: 42px;
    margin-top: 8px;
}
.loginBox > .loginBtn {
    background-color: #F077AD;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
    width: 302px;
    height: 48px;
    position: absolute;
    bottom: 40px;
    left: 42px;
}