/* 首页 */
.banner {
    background: url("../img/banner.png");
    background-size: 100% 100%;
    width: 100%;
    height: 420px;
}
.banner > .bannerBox {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    padding-top: 135px;
    padding-left: 110px;
}
.bannerBox > .banner-num {
    margin-bottom: 20px;
}
.bannerBox > .banner-num > span {
    background: url("../img/banner-num-bg.png");
    display: inline-block;
    width: 44px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.listTitle {
    background: url("../img/title.png");
    background-size: cover;
    width: 273px;
    height: 32px;
    margin: 50px auto;
}
/* 商品块 */
.goodsBox {
    margin: 0 -5px;
}
.goodsItem {
    width: 265px;
    /* border: solid 1px #333; */
    margin: 5px;
    float: left;
}
.goodsItem > a {
    text-decoration: none;
    display: inline-block;
}
.goodsItem > a > img {
    display: inline-block;
    height: 265px;
    width: 100%;
}
.goodsItem > a > div > p {
    text-align: center;
    line-height: 24px;
}
.goodsItem > a  > div > p.goodsName {
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goodsItem > a  > div > p.goodsPrice {
    color: #D4282D;
    font-size: 14px;
}
.goodsItem > a  > div > p.goodsSales {
    color: #999;
    font-size: 12px;
}
